@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoSlab";
	src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
html {
	margin: 0 auto;
	padding: 0;
	min-height: 100%;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
	font-size: 16px;
}

header {
	margin: 0 auto;
	max-width: 950px;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: "RobotoSlab";
	font-size: 27px;
	line-height: 22px;
	color: #1c1c1c;
	position: relative;
	bottom: 8px;
}

li {
	list-style-type: none;
}

.header__menu {
	display: flex;
	margin: 0 18px 0 0;
}

.menu__list {
	margin-left: 34px;
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	color: #222222;
}

.block__one {
	height: 431px;
	margin: 0 auto;
}

.block__one-1-bg {
	position: relative;
	z-index: 1;
	height: 431px;
	background: url(../img/bg-1.jpg) 0 0/100% 100% no-repeat;
}

.block__one-1-img {
	max-width: 950px;
	margin: 0 auto;
}

.block__one-1-wrap {
	display: flex;
	justify-content: space-between;
	max-width: 950px;
	margin: 0 auto;
	padding-top: 70px;
	height: 100%;
}

.one-1__uptitle {
	font-size: 38px;
	line-height: 44px;
	color: #ffffff;
	max-width: 412px;
}
.one-1__subtitle {
	padding-top: 21px;
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
	max-width: 412px;
}
.one-1__buttons-1 {
	padding-top: 25px;
	display: flex;
	max-width: 236px;
}
.buttons-1__sign {
	width: 110px;
	height: 48px;
	background: #000000;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	font-family: "RobotoSlab";
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons-1__learn {
	font-family: "RobotoSlab";
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 37px;
}

.block__one-1-img {
	position: relative;
	right: -42px;
}

.block__one-2-wrap {
	max-width: 950px;
	margin: 0 auto;
}
.one-2__list {
	display: flex;
	align-items: center;
	margin: 10px 75px 0 70px;
}

.block__one-2 {
	height: 145px;
	background-color: #3e5c50;
	display: flex;
	align-items: center;
}
.one-2__title {
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.31);
}

.i2-1 {
	margin-right: 49px;
}
.i2-2 {
	margin-right: 50px;
}
.i2-3 {
	margin-right: 45px;
}
.i2-4 {
	margin-right: 60px;
}

.two-1__uptitle {
	margin-top: 69px;
	font-size: 29px;
	line-height: 36px;
	text-align: center;
	color: #333333;
}
.two-1__subtitle {
	margin-top: 10px;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
	color: #333333;
}
.block__two {
	max-width: 950px;
	margin: 0 auto;
}

.block__two-2 {
	margin-top: 69px;
	display: flex;
}

.two-2__description {
	margin-top: 35px;
	margin-left: 20px;
}

.two-2__uptitle {
	margin-top: 17px;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
}
.two-2__subtitle {
	margin-top: 17px;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}

.block__two-3 {
	margin-top: 14px;
	display: flex;
}
.two-3__description {
	margin-top: 48px;
	max-width: 389px;
}

.two-3__img {
	margin-left: 91px;
}

.two-3__uptitle {
	margin-top: 16px;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
}
.two-3__subtitle {
	margin-top: 16px;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}

.block__two-4 {
	padding-top: 74px;
	padding-bottom: 74px;
	margin: 0 auto;
	max-width: 950px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dasboard {
	max-width: 197px;
}

.dasboard__title {
	margin-top: 15px;
	font-size: 21px;
	line-height: 30px;
	color: #333333;
}
.dasboard__desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #333333;
}
.custom {
	max-width: 197px;
}

.custom__title {
	margin-top: 15px;
	font-size: 21px;
	line-height: 30px;
	color: #333333;
}
.custom__desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #333333;
}
.presets {
	max-width: 197px;
}
.presets__title {
	margin-top: 15px;
	font-size: 21px;
	line-height: 30px;
	color: #333333;
}
.presets__desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #333333;
}
.metrics {
	max-width: 197px;
}
.metrics__title {
	margin-top: 15px;
	font-size: 21px;
	line-height: 30px;
	color: #333333;
}
.metrics__desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #333333;
}

.three__wrap {
	max-width: 950px;
	margin: 0 auto;
}

.block__three {
	height: 687px;
	background-color: #dde7ed;
}
.one-1 {
	padding-top: 69px;
	text-align: center;
	font-size: 29px;
	line-height: 36px;
	color: #333333;
}
.one-2 {
	margin-top: 10px;
	text-align: center;
	font-size: 19px;
	line-height: 22px;
	color: #333333;
}

.three__card {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.card__one {
	width: 220px;
	height: 368px;
	background-color: #fff;
}
.card__two {
	width: 220px;
	height: 368px;
	background-color: #fff;
}
.card__three {
	width: 220px;
	height: 368px;
	background-color: #fff;
}
.card__four {
	width: 220px;
	height: 368px;
	background-color: #fff;
}

.card__title {
	margin: 16px 0 0 17px;
	font-size: 22px;
	line-height: 30px;
	color: #2b2b2b;
}

.card__price {
	margin: 15px 0 0 17px;
	font-size: 14px;
	line-height: 22px;
	color: #2b2b2b;
}
.card__data {
	margin: 10px 0 0 17px;
	font-size: 14px;
	line-height: 22px;
	color: #2b2b2b;
}
.card__team {
	margin: 10px 0 13px 17px;
	font-size: 14px;
	line-height: 22px;
	color: #2b2b2b;
}

span {
	font-size: 19px;
	line-height: 22px;
	color: #489fd9;
}

.p1 {
	width: 93px;
	padding: 12px 0 0 0;
	margin: 12px 0 0 17px;
	border-top: 1px solid #dbdbdb;
}
.p2 {
	margin: 14px 0 0 17px;
}
.p3 {
	margin: 14px 0 0 17px;
}
.p4 {
	margin: 14px 0 0 17px;
}

.card__button {
	width: 186px;
	height: 42px;
	background-color: #000;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 19px 17px 17px 17px;
}

.grey {
	font-size: 14px;
	line-height: 18px;
	color: #c7c5c5;
}

.blue {
	font-size: 15px;
	line-height: 22px;
	color: #489fd9;
}

.three__subtitle {
	margin-top: 19px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}

.block__five {
	max-width: 950px;
	margin: 0 auto;
}
.five__uptitle {
	margin-top: 69px;
	margin-bottom: 45px;
	font-size: 29px;
	line-height: 36px;
	text-align: center;
	color: #333333;
}
.five__subtitle {
	margin: 0 auto;
	text-align: center;
	width: 752px;
	font-family: "RobotoSlab";
	font-size: 25px;
	line-height: 31px;
	color: #333333;
}
.chel {
	margin-top: 22px;
	display: flex;
	justify-content: center;
}
.chel__title {
	margin-top: 12px;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
}
.chel__subtitle {
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 71px;
}

.block__five-5 {
	height: 156px;
	background-color: #a1bfd4;
}

.five__5-1-wrap {
	max-width: 950px;
	margin: 0 auto;
	display: flex;
}

.comp__list {
	display: flex;
	justify-content: space-between;
	margin: 0 30px 0 20px;
}

footer {
	height: 305px;
}
.footer__one {
	height: 245px;
	background-color: #2b2c2e;
}
.foot-one__wrap {
	max-width: 950px;
	margin: 0 auto;
	display: flex;
}

.footer__two {
	height: 60px;
	background-color: #1c1d1f;
}

.foot__logo {
	font-family: "RobotoSlab";
	font-size: 27px;
	line-height: 22px;
	color: #e6eaed;
	margin-top: 35px;
}

.foot__sign {
	margin-top: 25px;
	font-size: 15px;
	line-height: 22px;
	color: #939596;
}

.foot__social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
}
.foot__input {
	margin-top: 12px;
	width: 322px;
}
input {
	width: 322px;
	height: 40px;
}

.foot__title {
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #e4e8eb;
	margin-top: 41px;
}

.foot-social-soc {
	margin-right: 11px;
}

.foot__subtitle {
	margin-top: 10px;
	font-size: 15px;
	line-height: 22px;
	color: #939596;
}

.fot-sub__item {
	margin-top: 1px;
}

.foot__two {
	margin-left: 158px;
}

.foot__three {
	margin-left: 86px;
}

.foot__four {
	margin-left: 69px;
}

.foot-niz {
	padding-top: 19px;
	margin: 0 auto;
	max-width: 950px;
	font-size: 13px;
	line-height: 22px;
	color: #939596;
}
